body {
  height: 100%;
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
}
/* navbar */
.navbar {
  height: 5rem;
  background-color: white;
}
.fa-hexagon-nodes {
  color: #fe424d;
  font-size: 2rem;
}
.nav-link {
  color: #222222 !important;
  font-weight: 500;
}

/* FOOTER */
.f-info-links a {
  text-decoration: none;
  color: #222222;
}
.f-info-links a:hover {
  text-decoration: underline;
}
.f-info-links,
.f-info-socials,
.f-inf0-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 0.7rem;
}
.f-info {
  text-align: center;
  display: flex;
  height: 8rem;
  background-color: #ebebeb;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* Cards */
.noborder {
  border: none;
}
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
  margin-right: 1rem;
}
.card-img-top {
  border-radius: 1rem !important ;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}
.card-text {
  font-weight: 400;
}

.listing-link {
  text-decoration: none;
}
.listing-div {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* card effects */
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* new listing page */
.add-btn {
  border: none;
  background-color: #fe424d;
}
/* edit listing page */
.edit-btn {
  border: none;
  background-color: #fe424d;
}

/* show page */

.show-img {
  height: 32rem;
  width: 34rem;
  border-radius: 1rem !important;
  margin-bottom: 1rem !important;
}
.show-card {
  padding: 0.1rem;
}
/* map */
#map {
  min-height: 40vh;
  min-width: 20vw;
  max-width: 40vw;
  border: solid 1px black;
  margin-bottom: 1rem;
}

/* filter */

/* nav search */
.btn-search {
  background-color: #fe424d;
  color: azure;
  border-radius: 1rem;
  padding: 0 1rem 0 1rem;
}
.btn-search:hover {
  background-color: #fe424d;
  opacity: 0.8;
  color: azure;
}
.btn-search i {
  display: inline;
  margin-right: 0.5rem;
}
.search-input {
  border-radius: 1.2rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  width:19vw;
}
.search-nav {
  height: 4rem;
  width: 30vw;
  background-color: #f0f0f0 !important;
  opacity: 0.9;
  border-radius: 2rem;
  box-shadow: black 0.1rem 0.1rem 4px;
}
